{
  "extends": [
    "@simonkberg/eslint-config",
    "@simonkberg/eslint-config/react",
    "@simonkberg/eslint-config/flowtype"
  ],
  "globals": {
    "graphql": false
  },
  "rules": {
    "import/no-webpack-loader-syntax": 0
  }
}
